/** CSS styles specific to Pinboard visualization in DH Press
 **/

@charset "UTF-8";

.hide {
	display: hidden;
}

#dhp-visual {
/*	z-index: 1000; */
}

    /* Take over full screen but leave room for Nav bar */
.fullscreen #dhp-visual {
    width: 100%;
    height: 100%;
    top: 45px;
}

    /* Enable scroll bar in case background image is too large */
#svg-container {
/*    z-index: 1000; */
    border: 2px solid #000;
    overflow-x: auto;
    overflow-y: auto;
}

svg {
/*    z-index: 1000; */
}


/* ==================== NAV BUTTONS ====================*/

    /* 7 image movement icons */
#dhp-image-controls {
    height: 32px;
    width: 240px;
    margin: 3px;
    margin-right: 6px;
    padding: 0;

    border: 1px solid #000;
    background-image: url('images/pinbuttons.jpg');

    float: right;

    -moz-box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
}

#pin-left {
    height: 32px;
    width: 34px;

    display: inline-block;
}

#pin-right {
    height: 32px;
    width: 33px;

    display: inline-block;
}

#pin-down {
    height: 32px;
    width: 33px;

    display: inline-block;
}

#pin-up {
    height: 32px;
    width: 33px;

    display: inline-block;
}

#pin-reduce {
    height: 32px;
    width: 38px;

    display: inline-block;
}

#pin-zoom {
    height: 32px;
    width: 37px;

    display: inline-block;
}

#pin-refresh {
    height: 32px;
    width: 30px;

    display: inline-block;
}

/* ==================== LEGENDS ====================*/

.layer-set {
    margin: 6px;
}

#layers-panel a.value {
    line-height: 15px !important;
    overflow: hidden;
}
