/** CSS styles specific to Project View in DH Press
 **/

@charset "UTF-8";


	/* FIX: Adjusts foundations nowrap style for code blocks */
code {
	white-space: inherit;
}

	/* ======== NAVIGATION BAR ========= */

.dhp-nav {
	z-index: 1102;
	width: 100%;
}
.dhp-nav.fixed {
	position: fixed;
	z-index: 1102;
	width: 100%;
}

.fullscreen .dhp-nav {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1105;
}

.admin-bar .dhp-nav.fixed {
	top:30px;
}

.tab-content {
	min-height: 150px;
}

.nav-tabs {
	text-transform: capitalize;
}

	/* =========== MODALS =========== */
#loading {
	position: fixed;
}

.loading-content {
	width: 100%;
	background: url('../images/ajax-loader.gif') no-repeat center 10px;
}

.loading-content h3.loading-title {
	padding-top: 40px;
	text-align: center;
	font-size: 28px;
}

.reveal-modal-bg {
	z-index: 1103;
}

.reveal-modal {
	z-index: 1104;
	max-height: 75%;
	overflow: auto;
}

.reveal-modal-footer {
	text-align: right;
}

.fullscreen h1 {
	font-size: 2.75rem;
}
body.fullscreen .site {
	margin-top: 0px;
}
html.fullscreen {
	overflow: hidden;
}

	/* ========== VISUALIZATION FRAME ========= */

#dhp-visual {
	position: relative;
	background: #fff;
}

.fullscreen #dhp-visual {
	width:100%;
	min-width: 100%;
	height: auto;
	position:absolute;
	top: 45px;
	left: 0px;
	bottom: 0;
}

	/* ========== MODAL WINDOWS =========== */

.modal {
	z-index: 1150;
}
.modal-content {
	overflow: auto;
}
.modal-content div {
	padding-bottom: 10px;
	line-height: 1.5;
}
.modal.transcript {
	position: fixed;
	top: 10%;
	left: 50%;
	width: 90%;
	margin-left: -45%;
}

.modal-backdrop {
	z-index: 1140;
}

.modal-header h3 {
	clear: none;
	font-size: 20px;
}
.modal-body h3 {
	font-size: 16px;
}
.modal-body .key-title {
	font-style: italic;
}
.modal-body .thumb-right img {
	float: right;
	padding-left: 5px;
	padding-bottom: 5px;
	width: 33%;
}

.modal-body .thumb-left img {
	float: left;
	padding-right: 5px;
	padding-bottom: 5px;
	width: 33%;
}

.modal-backdrop, .modal-backdrop.fade.in {
	opacity: .6;
	filter: alpha(opacity=60);
}

/* ============= LEGENDS ============= */

.legend {
	display:none;
}
