/** CSS styles specific to showing maps in DH Press
 **/

@charset "UTF-8";

body.fullscreen {
	overflow: hidden;
}

#dhp-visual {
	z-index: 1000;
}

	/* Map always takes full space alloted to it */
#dhpMap {
	width: 100%;
	height: 100%;
}

	/* Controls on Map */
#dhp-visual div.olControlZoom {
	top:10px;
}

.fullscreen #dhp-visual div.olControlZoom,
.fullscreen #dhp-visual .leaflet-control-zoom {
	/*top: 110px;*/
	
}
#dhp-visual .leaflet-control-layers {
/*	-webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
	transition: all 1s ease-out;
	overflow: hidden;
	width: 36px;
	height: 36px;*/
}
#dhp-visual .leaflet-control-layers.leaflet-control-layers-expanded {
/*	width: auto;
	height: auto;*/
}
#dhp-visual .leaflet-control-layers-expanded .leaflet-control-layers-toggle {
	/*display: block;*/
	
	}
#dhp-visual .leaflet-control-layers .leaflet-control-layers-list {
/*	display: block;
	-webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
	transition: all 1s ease-out;*/
/*	width: 36px;
	height: 36px;*/
}
#dhp-visual .leaflet-control-layers .leaflet-control-layers-list, #dhp-visual .leaflet-control-layers-expanded .leaflet-control-layers-toggle
{
	/*opacity: 0;*/
}
#dhp-visual .leaflet-control-layers-expanded .leaflet-control-layers-list {
/*	opacity: 1;
	position: relative;
	width: auto;
	height: auto;*/
}

#dhp-visual .leaflet-popup-content-wrapper {
	text-align: center;
}
input.leaflet-control-layers-selector {
	margin-top: 2px;
	position: relative;
	top: 1px;
}

#dhp-visual .leaflet-bar a, #dhp-visual .leaflet-bar a:hover {
	width: 36px;
	height: 36px;
	line-height: 36px;
	font-size: 22px;
}

#dhp-visual .leaflet-control.reset-control {
}

#dhp-visual .leaflet-control.reset-control a {
	line-height: 38px;
	font-size: 20px;
	color: #21759b;
	/*text-align: center;
	display: inline-block;
	width: 100%;*/
}

.logged-in.fullscreen #dhp-visual div.olControlZoom {
	top:70px;
}

.olControlZoom .reset-map {
	margin-top: 5px;
	padding-top: 2px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
   	cursor: pointer;
   	font-size: 18px;
}

.isMobile .olControlZoom .reset-map {
	padding-top: 1px;
	font-size: 16px;
}
	/* Foundation Icons required custom config */
.olControlZoom a.olControlZoomIn {
	padding-top: 2px;
	font-size: 15px;
	padding-left: 1px;
}
.olControlZoom a.olControlZoomOut {
	font-size: 15px;
	padding-top: 1px;
}

	/* OL error tiles */
.olImageLoadError {
 	display: none;
 	visibility: hidden !important; 
}

.olMap .olControlAttribution {
	bottom: 10px;
	right: 10px;

}

#dhp-visual.olMap{
	background: #eeeeee;
}

	/* Overrides most theme settings for img tags in the map only */
.entry-content .olMap img,
.widget .olMap img,
.entry-content img.leaflet-tile {
	max-width: none;
	border-radius: 0;
	box-shadow: none;
}

.leaflet-control-zoom {
}

.layer-set {
	margin: 6px;
}

#layers-panel a {
	line-height: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: hidden;
}
