
/*********************
 ** TopicCards
 **/

/* First, we need to disable some WP/Theme defaults, or they ruin card formatting */

.entry-content p,
.entry-summary p,
.comment-content p,
.mu_register p {
    line-height: 1rem !important;
    margin-bottom: 1rem !important;
    margin: 0 0 0 0 !important;
}

p {
    margin-bottom: 0 !important;
}

    /* Enable scroll bar for Cards */
#dhp-visual {
    overflow: auto;
}

    /* Take over full screen but leave room for Nav bar */
.fullscreen #dhp-visual {
    width: 100%;
    height: 100%;
    top: 45px;
/*    bottom: -45px; */  /* would like to compensate for nav bar but this doesn't work */
}

#card-container {
    overflow: auto;
    bottom: 0px;
}

.card {
    background: #00BFFF;
    border-radius: 5px;
    font-size: 11px;
    line-height: 13px;
    margin: 5px;
    padding: 5px;
    border: 2px solid gray;
    overflow: hidden;
    margin-bottom: 2px;
}

    /* Scale card acc to size */

.card.short {
    height: 100px;
}

.card.med-height {
    height: 160px;
}

.card.tall {
    height: 220px;
}

.card.thin {
    width: 120px;
}

.card.med-width {
    width: 180px;
}

.card.wide {
    width: 220px;
}


    /* Material on the cards */

.card p {
    font-size: 11px;
    line-height: 13px;
    margin: 0 0 0 0;
    padding: 1px;
    margin-bottom: 2px;
}

.card p img {
	display: block;
	padding: 1px;
    margin: 1px;
    margin-top: 1px;
    border: 1px black solid;
    margin-bottom: 2px;
    max-width: 98%;
}

    /* Controls */
.top-bar .button {
    margin: 3px;
}
