@charset "UTF-8";
/* CSS Document */

#map_div {
    position: absolute;
    height : 100%;
    min-height: 100%;
	width:100%;
	min-width: 300px;
	left: 0px;
	top: 0px;
	background: #fff;
    }
#legends {
	position: absolute;
	height: 90%;
	overflow: auto;
	background: #fff;
	min-width: 200px;
	background-color: rgba(255, 255, 255, .7);

}  
#legends .nav {
	width: 300px;
background: #fff;
padding: 10px; 
}
#legends .nav a {
	

	} 
#map_div div.olControlZoom {
	top:38px;
}
#map-div2 {
    border : 0;
    height : 250px;
	width:300px;
}
#diph_icon_cont {
	min-height:50px;
}
.diph_icon {
	cursor:pointer;
	float:left;
	width:24px;
	height:24px;
}
.diph_icon img {
	padding:2px
}
#diph_icon_cont .selected {
	background:#999;
}
#term-legend {
	position:absolute;	
}
.legend-div ul {
list-style: none;
width: 350px;
}
.legend-div ul li {
	width:100%;
	display: inline-block;
	cursor: pointer;
}
.legend-div ul li:hover {
	background: #e8f2e6;
}
.legend-div ul li.selected {
	background: #e8f2e6;
}
.legend-div ul img {
	float: left;
}
.legend-div ul a {
	padding: 10px;
	float: left;
	width:212px;
}
.legend-div input[type='checkbox'] {
	float: left;
	margin: 12px;
}
.legend-div p {
	width: 15px;
	height: 15px;
	margin-top: 10px;
	float: left;
}
/*
 #map_div2 {
 	width:30%;
 	float: left;
 	height:400px;
 	left:35%;
 	position: absolute;
 }*/
 #TB_window {
 	z-index: 2000;
 	opacity: .8;
 }
 #TB_overlay {
 	z-index: 1999;
 	opacity: .5;
 }
.post:after {
 	content:" ";
 	clear: both;

 }
 #child_legend {
 	background: #e8f2e6;
 	padding: 5px;
 	border: 3px solid #ccc;
 	display: none;
 }
 #child_legend h3 { 
 	padding-bottom: 5px;
 }
 #child_legend ul li {
  	padding-bottom: 5px;
  }
  #timeline {
  	position: absolute;
  	top: 320px;	
  	width: 60%;
  	z-index: 2200;
}
.olImageLoadError {
 	display: none;
}
img {
	max-width: none;
}
.modal-header h3 {
	clear: none;
}
.type-timecode {
	width: 20%;
	float: left;
}
.type-text {
	width: 80%;
	display: inline-block;
}