/** CSS styles specific to OpenLayers maps in DH Press
 **/

@charset "UTF-8";

	/* Legends in side-bar */

#legends {
	position:relative;	
	margin-left:0;
	overflow: auto;
	background: #fff;
	background-color: rgba(255, 255, 255, .7);
}

.fullscreen #legends {
	position:absolute;
	min-width:none;
	top: 50px;
	left: 20px;
	bottom: 20px;
	overflow: auto;
}

.logged-in.fullscreen #legends {
	top:80px;
}

.legend-row {
	max-width: 270px;
}

.fullscreen .legend-row {
	max-width: none;
}

#legends .nav a {
}

	/* Controls on Map */
.fullscreen #dhp-visual div.olControlZoom {
	top:50px;
	left: 95%;
}

#dhp-visual div.olControlZoom {
	top:10px;
}

.olControlZoom .reset-map {
	margin-top: 5px;
	padding: 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 14px;
	/* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 60, 136);
    /* RGBa with 0.6 opacity */
    background: rgba(0, 60, 136, 0.5);
   	cursor: pointer;
}

.olControlZoom .reset-map:hover {
    background: rgba(0, 60, 136, 0.7);
}

.logged-in.fullscreen #dhp-visual div.olControlZoom {
	top:80px;
}

.fullscreen aside {
	display: none;
}

.post-title {
	font-size: 24px;
}

#dhp_icon_cont {
	min-height:50px;
}

.dhp_icon {
	cursor:pointer;
	float:left;
	width:24px;
	height:24px;
}

.dhp_icon img {
	padding:2px
}

#dhp_icon_cont .selected {
	background:#999;
}

#term-legend {
	position:absolute;	
	margin-left: 0px;
}

.legend-row .legend-div {
	margin-left: 0px;
}

.legend-div h1 {
	margin-left: 10px;
	border-bottom: 1px solid #111;
	margin-right: 10px;
}

.legend-div ul {
	list-style: none;
}

.legend-div ul li {
	width:100%;
	display: inline-block;
	cursor: pointer;
}

.legend-div ul li:hover {
	background: #e8f2e6;
}

.legend-div ul li.selected {
	background: #e8f2e6;
}

.legend-div ul img {
	float: left;
}

.legend-div ul.terms a {
	padding: 10px;
	width:212px;
}
.legend-div input[type='checkbox'] {
	margin: 12px;
}

.legend-div p {
	width: 15px;
	height: 15px;
	margin-top: 4px;
}

	/* Controls for opacity for each layer */
#layers-panel {
	margin-left:0px;
}

#layers-panel li a {
}

#TB_window {
 	z-index: 2000;
 	opacity: .8;
}

#TB_overlay {
 	z-index: 1999;
 	opacity: .5;
}

.dhp-post:after {
 	content:" ";
 	clear: both;

}

#child_legend {
 	background: #e8f2e6;
 	padding: 5px;
 	border: 3px solid #ccc;
 	display: none;
}

#child_legend h3 { 
 	padding-bottom: 5px;
}

#child_legend ul li {
  	padding-bottom: 5px;
}

.olImageLoadError {
 	display: none;
}
/* Overrides most theme settings for img tags in the map only */
.entry-content .olMap img,
.widget .olMap img {
	max-width: none;
	border-radius: 0;
	box-shadow: none;
}
.legend-resize {
	padding: 2px 5px;
	float: right;
	position: absolute;
	right: 0px;
}

input[type="submit"] {
	margin-bottom: 10px;
}

.single-project .main-navigation li ul {
	z-index: 750;
}

@media (max-width: 767px) {
[class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
	width: 228px;
}
}
